// GitHub Issues
@media all and (max-width: 960px)

    // Remove default 960px min-width.
    html, body.logged_in
        margin: 0 auto !important
        min-width: 0 !important

    body.logged_in
        // Reduce text size a bit.
        font-size: 12px !important
        line-height: 1.2 !important

        // Ensure user links don't run beneath other nav links. top-nav is
        // positioned outside of command-bar, so increase command-bar's size to
        // create a space for top-nav, which is 200px wide.
        .command-bar
            padding-right: 200px !important

        // Remove static widths.
        .container, .discussion-timeline
            width: auto !important

        // Stop content from touching the window edges.
        .container
            margin:
                left: 20px !important
                right: 20px !important

        // Give the sidebar (issue status & labels) full-width space.
        .discussion-sidebar
            float: none !important
            margin: 20px auto !important
            width: auto !important
            .discussion-labels
                margin: 0 auto !important
                width: 150px !important
            // Center the labels selector.
            .label-manager .select-menu-modal-holder
                right: auto !important
                -webkit-transform: translateX(-50%)

        // Allow milestone and assignee to wrap below each other & be visible.
        .discusion-topic-infobar
            height: auto !important
            .infobar-widget
                display: inline-block !important
                &.assignee
                    float: none !important
